.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.css-dev-only-do-not-override-1uq9j6g {
     border-radius: 15px;
     background-color: cadetblue;
}

.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-dark.ant-menu-inline-collapsed.css-dev-only-do-not-override-1uq9j6g{
    border-radius: 15px;
    background-color: cadetblue;
}

.ant-layout-sider-children{
       background-color:rgb(4, 35, 8);
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.css-dev-only-do-not-override-1c0na6j{
   background-color: rgb(4, 35, 8);
}

.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-dark.ant-menu-inline-collapsed.css-dev-only-do-not-override-1c0na6j{
     background-color:  rgb(4, 35, 8);
}

/* .ant-layout-header.css-dev-only-do-not-override-1c0na6j{
     background-color:  rgb(4, 35, 8);
} */